# dependencies
app/node_modules
app/.pnp
app/.pnp.js
model/
# testing
/coverage

# production
/build

# misc
app/.DS_Store
app/.env.local
app/.env.development.local
app/.env.test.local
app/.env.production.local

app/npm-debug.log*
app/yarn-debug.log*
app/yarn-error.log*

env/
model/dataset/
node_modules
