# dependencies
app/node_modules
app/.pnp
app/.pnp.js
node_modules/
# testing
/coverage
# production
/build
.DS_Store

# misc
app/.DS_Store
app/.env.local
app/.env.development.local
app/.env.test.local
app/.env.production.local

app/npm-debug.log*
app/yarn-debug.log*
app/yarn-error.log*

env/
model/dataset/